{% for email_domain in site_email_domain %}
    {
      "ca-prefix": "/ndn{{site}}",
      "certificate": "{% include "files/ndncert-site-ca." + inventory_hostname + ".signed.cert.txt" %}",
      "policy-type": "inst-email",
      "policy-param": "{{email_domain}}"
    }{% if not loop.last %},{% endif %}

{% endfor %}
