#!/bin/bash
# point home to /var/lib/ndn/nlsr so keys will be stored there.
sudo su - nlsr -c 'export HOME=/var/lib/ndn/nlsr/; ndnsec-key-gen -n {{ default_prefix }} > ~nlsr/unsigned_site.cert'

# seems that now we have to set a default identity:
sudo su - nlsr -c 'export HOME=/var/lib/ndn/nlsr/; ndnsec-key-gen -n {{default_prefix}}/nlsr > ~nlsr/unsigned_nlsr.cert'
sudo su - nlsr -c 'export HOME=/var/lib/ndn/nlsr/; ndnsec-set-default -n {{default_prefix}}/nlsr'

# this next step must take place on UCLA where the root cert is.
# sudo su - nlsr -c 'export HOME=/var/lib/ndn/nlsr/; ndnsec-cert-gen -S 201507080000 -E 201810080000 -N "{{inventory_hostname}}" -s /ndn -p {{default_prefix}} -r /home/nlsr/{{inventory_hostname}}_unsigned_site.cert > /home/nlsr/{{inventory_hostname}}_site.cert'

sudo su - nlsr -c 'export HOME=/var/lib/ndn/nlsr/; ndnsec-key-gen -n {{default_prefix}}/%C1.Operator/{{ansible_user}} > ~nlsr/unsigned_operator.cert'
sudo su - nlsr -c 'export HOME=/var/lib/ndn/nlsr/; ndnsec-set-default -n {{default_prefix}}/nlsr'
sudo su - nlsr -c 'export HOME=/var/lib/ndn/nlsr/; ndnsec-cert-gen -S 201507080000 -E 201810080000 -N "{{inventory_hostname}} Operator" -s {{default_prefix}} -p {{default_prefix}}/%C1.Operator/{{ansible_user}} -r ~nlsr/unsigned_operator.cert > /etc/ndn/nlsr/keys/operator.cert'
sudo su - nlsr -c 'export HOME=/var/lib/ndn/nlsr/; ndnsec-key-gen -n {{default_prefix}}/%C1.Router/{{router_name}} > ~nlsr/unsigned_router.cert'
sudo su - nlsr -c 'export HOME=/var/lib/ndn/nlsr/; ndnsec-cert-gen -S 201507080000 -E 201810080000 -N "{{inventory_hostname}} Router {{router_name}}" -s {{default_prefix}}/%C1.Operator/{{ansible_user}} -p {{default_prefix}}/%C1.Router/{{router_name}} -r ~nlsr/unsigned_router.cert > /etc/ndn/nlsr/keys/router.cert'
