"{{inventory_hostname}}": {
    "allowGuests": {{allowGuests}},
    "doNotSendOpRequests": {{doNotSendOpRequests}},
    "doNotSendOpRequestsForGuests": {{doNotSendOpRequestsForGuests}},
    "email": "{{operator_email}}",
    "key": "...",
    "name": "{{operator_name}}",
    "site_emails": {{site_email_domain | to_json }},
    "site_name": "{{site_name}}",
    "site_prefix": "{{default_prefix}}",
